
#title {
  background-color: #ff4c68;
  font-size: 1.2rem;
  color: #fff;
}

#tindogstyle {
  position: relative;
  left: -22%;
  padding-right: 30%;
  float: right;
}
#features{
  margin-left: 13px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
  padding-bottom: 5%;
}

.nav-item {
  padding: 3% 10%;
}

.btn {
  margin: 5px;
  margin-bottom: 100px;
  margin-top: 20PX
}

.rotate {
  transform: rotate(20deg);
}

body {
  font-family: "Montserrat";
}
.fa-circle-check{
  color: #ef8172;
}
.fa-bullseye{
    color: #ef8172;
}
.fa-heart{
   color: #ef8172;
}
.fa-circle-check:hover{
  color: #ff4c68;
}
.fa-bullseye:hover{
    color: #ff4c68;
}
.fa-heart:hover{
    color: #ff4c68;
}
